---
import ProjectCard from "../components/ProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const projects = [
  {
    title:'TimeCraft',
    imageSrc:'../src/assets/timecraft.png',
    year:'March 2024',
    description:'A smart scheduling app that automates event planning and auto-embeds Google Meet links in Calendar for effortless meeting coordination.',
    tags:['Next.js', 'TailwindCSS', 'OAuth2.0','Google Calendar API'],
    link:'https://github.com/mohakcodes/TimeCraft'
  },
  {
    title:'AlgoGraph',
    imageSrc:'../src/assets/algograph.png',
    year:'July 2023',
    description:'A graph algorithm visualization tool built with ReactJS for real-time visualization of pathfinding algorithms like Dijkstra’s, DFS, and BFS.',
    tags:['React.js', 'Javascript', 'CSS', 'Graph Algorithms'],
    link:'https://github.com/mohakcodes/TimeCraft'
  },
  {
    title:'Grudu List',
    imageSrc:'../src/assets/grudulist.png',
    year:'September 2024',
    description:'A productivity-focused group and task management app that enables group owners to add members as viewers or editors, built with Next.js, TypeScript, and Ruby on Rails API.',
    tags:['Next.js', 'TailwindCSS', 'Ruby on Rails'],
    link:'https://github.com/mohakcodes/TimeCraft'
  }
]
---

<BaseLayout>
    <div class="flex flex-col justify-center items-center min-h-screen bg-gradient-to-r from-slate-300 via-slate-200 to-slate-300 p-8">
        <div class="container text-center mt-10 italic animate-fade-in">
            <h1 class="inline-block p-4 text-4xl sm:text-5xl pt-2 font-bold text-transparent bg-clip-text bg-gradient-to-r from-emerald-700 via-emerald-500 to-emerald-700 mt-4">
                Projects
            </h1>
            <p class="mt-2 mb-4 text-xl sm:text-2xl font-semibold text-gray-900">
                Explore my portfolio of projects, showcasing my expertise in 
                <span class="text-transparent bg-clip-text bg-gradient-to-r from-blue-800 via-purple-800 to-blue-800 font-extrabold">
                    full-stack development,
                </span>    
                problem-solving and creating user-focused web applications.
            </p>
            <div>
              {
                projects.map((project)=>{
                  return <ProjectCard {...project} />
                })
              }
            </div>
        </div>
    </div>
</BaseLayout>

<style>
	@keyframes fade-in {
	  from {
		opacity: 0;
	  }
	  to {
		opacity: 1;
	  }
	}
  
	.animate-fade-in {
	  animation: fade-in 650ms ease-in-out;
	}
</style>